@media screen and (min-width:1086px) {
    #drop-nav-menu
    {
        display: none;
    }

   
}
@media screen and (min-width: 1025px) {
    #start-banner-btn
    {
        width: 20%;
    }
    
}
@media screen and (min-width:766px) {
    #percentages-container ul li 
    {
        width:32%
    }
    
}
:root
{
    --base-color: #FFFFFF;
    --primary-color-1: #F4EDE4;
    --primary-color-2: #000000;
    --call-to-action-color: #611F69;
    --unimportant: #696969;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.1s ease-in-out;
    box-sizing: border-box;
}
body
{
    width:auto;
}
#nav-bar
{
    
    width: 95%;
    min-width: 375px;
    max-width: 1230px;
    margin: auto;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 2em;
    @media screen and (max-width:1085px) {
        gap:0;
        justify-content: space-between;
    }
}
.nav-item  
{
    @media screen and (min-width: 1086px) {
        display: inline-block;
    };
    display: none;
}
#signed-out 
{
    @media screen and (min-width: 1086px) {
        display: flex;
    };
    display: none;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    gap: 1em;
    width: 50%;
    margin-left: 10%;
    margin-right: 0;
}
#signed-out div
{
    width: fit-content;
}

#start-nav-btn
{
    border-radius: 2em;
    max-width: 200px;
}

#logo-nav
{
    
    align-content: center;
    width:20%;
    max-width: 107px;
    min-width: 85px;
}
#logo-nav img{
    
    width: 100%;
    display: block;
}
#drop-nav-menu
{
    padding: 1em 2em;
    background-color: var(--call-to-action-color);
    color: var(--base-color);
    font-weight: 700;
    border-radius: 2em;
    font-size: 1.1em;
}
#sales-nav-btn
{
    @media screen and (min-width:1218px) {
        display: inline-block;
    }
    color: var(--call-to-action-color);
    font-weight: 700;
    border: 2px solid var(--call-to-action-color);
    padding-block: 1em;
    padding-inline: 0.5em;
    border-radius: 2em;
    max-width: 147px;
}
#banner
{
    width: 90%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-inline: auto;
    margin-top: 5vh;
    height: 70vh;
    max-height:350px;
    min-height: 315px;
   
}
#banner h1
{
    color: var(--primary-color-2);
    text-align: center;
}
.clr-purple
{
    color: var(--call-to-action-color);
}
.banner-item
{
    margin-top: 4%;
    margin-inline:auto;
    text-align: center;
}
.started-btn
{
    padding: 1.3em ;
    background-color: var(--call-to-action-color);
    color: var(--base-color);
    font-weight: 700;
    width: 100%;
    
}
#logos
{
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline:auto ;
}
.banner-logo
{
  width: 20%;
  align-content: center;
}
#nasa-logo
{
    width: 12%;
}
#uber-logo
{
    width: 10%;
}
#target-logo
{
    width: 12%;
}
#nyt-logo
{
    width: 10%;
}
.banner-logo img
{
    display: block;
    width:100%;
    object-fit: contain;
}

#frame-vid
{
    width: 80%;
    max-width:800px;
    margin-inline: center;
}
#frame-vid video
{
    display: block;
    width: 100%;

}
#main-content
{
    background-color: var(--primary-color-1);
    margin-top: -30%;
    padding-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.content-container
{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0 ;
    justify-self: center;
    gap: 3em;
    @media screen and (min-width:1026px) {
        justify-content: center;
        width: 100%;
    }
    width:100%;
}
#reverse-container
{
    flex-wrap: wrap-reverse;
    justify-content: end;
    @media screen and (min-width:1026px) {
        justify-content: center;
        width: 100%;
    }
    width: 100%;
}
.animation-container
{
   
    margin-bottom: 2em;
    align-self: center;
    @media screen and (max-width:520px)
    {
        width:100%;
    }
    @media screen and (min-width:1026px) {
        width: 60%;
    }
    max-width: 600px;
    display: flex;
    justify-content: end;
   
}

.animation-container video
{
    display: block;
    object-position: end;
    width: 100%;
    object-fit: fill;
}

#reverse-container .text-container
{
    @media screen and (max-width:1030px)
    {
        padding-left: 2m;
        padding-right: 0;    }
    padding-left: 0;
    padding-right: 2em;
}
.text-container
{
    padding-left: 2em;
    align-content : center;
    margin:1em;
    @media screen and (max-width:1030px)
    {
        width:100%;
        padding-left: 0;
    }
  width: 30%;
  
}
.text-container h1
{
    margin-bottom: 0.5em;
}
.text-container p{
    margin-bottom: 1em;
    line-height: 1.7em;
}
#enterprise
{
    margin-top: 3rem;
}
#enterprise-container
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
}
#enterprise-container>*
{
    text-align: center;
    margin-bottom: 1em;
}
#enterprise-container h3
{
    font-size:2em;
}
#enterprise-container p
{
    font-weight: bold;
}
#enterprise-btn
{
    background-color: var(--call-to-action-color);
    color: var(--base-color);
    padding: 1em 0;
    width: 100%;
    @media screen and (min-width:780px) {
        width: 55%;
    }
}
#sales-btn
{
    border: 1px solid var(--call-to-action-color);
    padding: 1em 0;
    color: var(--call-to-action-color);
    width: 100%;
    @media screen and (min-width:780px) {
        width: 42%;
    }
}
#enter-btn-container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
#percentages-container
{
    display: flex;
    flex-wrap: wrap;
    margin: 4em 0;
    width: 100%;
    justify-content: center;
}
#percentages-container ul
{
    list-style-type: none;
    width: 100%;
    justify-self: center;
    display: inherit;
    flex-wrap: inherit;
    justify-content: center;
}
#percentages-container ul li
{
    text-align: center;
    margin: 1em 0 4em 0;
}
.percent
{
    color: var(--call-to-action-color);
    font-size: 3rem;
    font-weight: 700;
}
.under-per{
    
    width: 50%;
    margin: auto;
}
#vid-quote-container
{
    display: flex;
    flex-wrap: wrap;
}
#enter-vid{
    width:90%;
    @media screen and (min-width:1034px) {
        width: 50%;
    }
    border-radius: 0 10em 10em 0 ;
}
#enter-vid *
{
    border-radius: inherit;
    width: 100%;
}
#quote-container
{
    margin: 2em 1em;
    width: 90%;
    @media screen and (min-width:1034px) {
        width: 40%;
    }
}
#quote-container q
{
    font-style: italic;
    @media screen and (min-width:1034px) {
        font-size: 2em;
    }
    font-size: 1.1em;
}
#note
{
    text-align: center;
    width: 90%;
    margin: auto;
    color: var(--unimportant);
}