/* this css apply to all screens */
@media screen and (min-width:1200px) and (max-width:1416px){
    #start-btn{
display: none;    
}
}
:root
{
    --base-color: #FFFFFF;
    --primary-color-1: #F4EDE4;
    --primary-color-2: #000000;
    --call-to-action-color: #611F69;

}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}
div
{
    box-sizing: border-box;

}
body
{
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    
}

a
{
    text-decoration: none;
    color: var(--primary-color-2);
}
