/* this css is for min 1200px */

nav
{
    background-color: var(--base-color);
    left:12%;
    position: fixed;
    top: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;   
    width: 75%;
    margin-bottom: 10px;
    border-radius: 50px;
    z-index: 1000;
    box-shadow: 1px 1px  10px 2px var(--call-to-action-color);
}

.nav-container 
{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding:1vw;
}

.nav-item
{
    padding: 0.8vw;
    font-weight: 700;
    height: inherit;
    align-content: center;
}

.nav-btn
{
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    align-content: center;
    border-radius: 1em;
    margin-right: 10px;
    height: 70%;
}

#search-btn
{
    background-color: transparent;
    border: none;
    align-self: center;
}
#signed-out
{
    align-items: center;
}
#start-btn
{
    background-color: var(--call-to-action-color);
}
#start-btn a{
    color:var(--base-color);
}
#sale-btn
{
    background-color: var(--base-color);
    font-weight: bold;
    border: 1px solid var(--call-to-action-color);
}
#sale-btn a
{
    color: var(--call-to-action-color);

}
.space
{
    margin-bottom: 180px;
    margin-top: 20px;
}
header
{
    width:50%;
    margin: auto;   
    display: flex;
    flex-direction: column;
    align-items:center;
    box-sizing: border-box;
}
.head-item
{
    margin-bottom: 2vw;
}
#main-heading
{
    text-align: center;
    font-family: 'Helvetica Neue',Helvetica,'Segoe UI',Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;
    font-size: 3rem;
}
#purple-heading 
{
    color: var(--call-to-action-color);
}
#head-btn
{
    background-color: var(--call-to-action-color);
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#head-btn a
{
    color: var(--base-color);
    font-weight: 700;
    
}
#banner-get-started
{
    all: inherit;
    margin-bottom: 20px;
}
#logos-container
{
    all: inherit;
    width: fit-content;
    scale: 1.1;
}
#vid-container
{
    margin-top: 20px;
    width: 100%;
    z-index: 500;
}
#vid-container>video
{
    all: inherit;
}
.for-color
{
    margin-top: -380px;
    width: 100vw;
    background-color: var(--primary-color-1);
}
.content
{
   
    background-color: var(--primary-color-1);
    width: 100%;
}
#lrge-dev-drop-nav
{
    display: none;
}